html {
    font-family: Helvetica, sans-serif;
}

body {
    padding: 20px;
    background-color: rgb(238, 238, 238);
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header {
    border-bottom: 2px solid rgb(0, 0, 0);
}

h1 {
    text-transform: uppercase;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
}