html {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 50px;
}

nav {
    display: inline-block;
}

h1 {
    display: inline-block;
    margin-right: 50px;
}

ul {
    list-style: none;
    display: inline-block;
}

li {
    display: inline-block;
    margin: 0 20px;
}

a {
    color: green;
    text-decoration: none;
}

header {
    border-bottom: 3px solid black;
}