body {
    padding: 100px;
}
header {
    border-bottom: 2px solid rgb(0,0,0);
    display: flex;
    justify-content: space-between;
}

h1 {
    text-transform: uppercase;
}

ul {
    display: flex;
    width: 300px;
    list-style: none;
    justify-content: space-between;
}

a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}