body {
    background-color: rgb(238, 238, 238);
    padding: 50px;
}

a {
    color: rgb(0, 102, 0);
    text-decoration: none;
}

img {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    float: right;
    padding: 5px;
    border: 1px solid black;
    margin-left: 10px;
    margin-bottom: 10px;
}

.img2 {
    float: left;
    margin-left: 0;
    margin-right: 10px;
}

main {
    width: 70%;
    display: inline-block;
}

aside {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin: 20px;
}

.first {
    position: relative;
    border-bottom: 3px solid black;
}

header nav ul {
    list-style: none;
    display: inline-block;
}

header nav {
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 20%
}

header h1 {
    display: inline-block;
}

header nav ul li {
    display: inline-block;
    margin: 20px;
}

.stuff-left {
    display: inline-block;
    width: 40%;
}

.stuff-right {
    display: inline-block;
    position: relative;
    width: 40%;
    padding-bottom: 50px;
    vertical-align: top;
    color: gray;
    border-left: 2px solid gray;
    padding-left: 30px;
    font-style: italic;
    font-family: Georgia, serif;
}

.stuff-right p {
    position: absolute;
    bottom: 0;
    right: 0;
}